<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ntc</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>F0459754-4D37-4491-8E2A-770BA7837BA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0677387B-B5EB-41A7-AC05-E2E4A22BBE3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sven Schiffer</string>
	<key>description</key>
	<string>Translates a hex color code to a named color</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Name that Color</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0677387B-B5EB-41A7-AC05-E2E4A22BBE3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ntc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Matching colors</string>
				<key>script</key>
				<string>require('Application.php');

$app = new Application();
$query = "{query}";

$app-&gt;get($query);


</string>
				<key>title</key>
				<string>Type in a color hexode</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F0459754-4D37-4491-8E2A-770BA7837BA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0677387B-B5EB-41A7-AC05-E2E4A22BBE3D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F0459754-4D37-4491-8E2A-770BA7837BA8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hiimzvaehn.de</string>
</dict>
</plist>
